services:
  mongodb:
    image: mongodb/mongodb-community-server
    ports:
      - "27017:27017"
    restart: always
    volumes:
      - "./mongodb:/data/db"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
